@import "partials/setup";
@import "partials/typography";

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.background {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameScreen {
    border: 1px solid #000;
    background: url(../assets/space.jpg);
    background-size: cover;
    // background-position: bottom 0 left 0;
    height: 500px;
    width: 500px;
    position: relative;
    overflow: hidden;
}

.score {
    color: rgba(255, 255, 255, 0.322);
    position: absolute;
    bottom: 0;
    z-index: 10;
    // transform: translateY(100%);

}


.lives {
    position: absolute;
    bottom: 0;
    right: 5px;
    color: red;
       i {
        font-size: 20px;
    }
    z-index: 10;
}
.playerModel {
    // width: 20px;
    // height: 20px;
    border: 1px solid white;
    position: absolute;
}

.playerCoords {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

.projectile {
    // width: 20px;
    // height: 20px;
    position: absolute;
    top: 0;
    left: 50px;
    border: 1px solid purple;
    text-align: center;
    z-index: 10;
    font-size: 15px;
    // background-color: white;
}

.enemy {
    // width: 100px;
    // height: 20px;
    color: blue;
    border: 1px solid purple;
    background-color: rgb(228, 129, 206);
    position: absolute;
    transition: background-color 0.1s, transform 0.1s;
}

.hitAnimation {
    background-color: red;
    color: purple;
    // transform: rotate(360deg);
    text-decoration: underline;
}