@import "partials/setup";
* {
    margin: 0;
    padding: 0;
}

.background {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameScreen {
    border: 1px solid #000;
    background-color: rgb(149, 149, 149);
    height: 500px;
    width: 500px;
    position: relative;
    overflow: hidden;
}

.playerModel {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: absolute;
}

.playerCoords {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

.projectile {
    // width: 20px;
    // height: 20px;
    position: absolute;
    top: 0;
    left: 50px;
    border: 1px solid purple;
    text-align: center;
    z-index: 10;
    // background-color: white;
}

.enemy {
    width: 100px;
    height: 20px;
    color: blue;
    border: 1px solid purple;
    position: absolute;
    transition: background-color 0.1s, transform 0.1s;
}

.hitAnimation {
    // background-color: red;
    color: purple;
    // transform: rotate(360deg);
    text-decoration: underline;
}