article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-family: 'Catamaran', sans-serif; }

h1 {
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 700; }

h2 {
  font-size: 4.6rem;
  text-transform: uppercase;
  color: #2a2a2a; }

h3 {
  font-size: 3.2rem;
  text-transform: uppercase;
  line-height: 1.021; }

h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 1.634; }

h5 {
  font-size: 1.3rem; }

p {
  font-size: 2.4rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.583; }

a {
  text-decoration: none;
  color: inherit; }

@media (max-width: 526px) {
  h2 {
    font-size: 4rem; }
  h3 {
    font-size: 3rem; } }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  overflow: hidden; }

.background {
  height: 100vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.start-screen {
  height: 500px;
  width: 100%;
  max-width: 500px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .start-screen h5 {
    top: calc(50% + 2px);
    right: calc(50% + 5px);
    color: #0084ff;
    position: absolute;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    pointer-events: none;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    z-index: 10; }

.play {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative; }
  .play .pointer-icon {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 50%;
    right: 48%;
    -webkit-transform: translate(51%, -50%) rotate(110deg);
    -ms-transform: translate(51%, -50%) rotate(110deg);
    transform: translate(51%, -50%) rotate(110deg);
    -webkit-transition: 0.7s linear;
    -o-transition: 0.7s linear;
    transition: 0.7s linear; }

.play-button {
  font-size: 60px;
  -webkit-animation: glow1 4s infinite ease-in-out;
  animation: glow1 4s infinite ease-in-out;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  color: #dfdfdf;
  z-index: 10;
  cursor: pointer; }
  .play-button:hover {
    -webkit-transform: translate(50%, -50%) scale(1.1);
    -ms-transform: translate(50%, -50%) scale(1.1);
    transform: translate(50%, -50%) scale(1.1); }
    .play-button:hover + h5 {
      -webkit-transform: translate(50%, -50%) scale(1.1);
      -ms-transform: translate(50%, -50%) scale(1.1);
      transform: translate(50%, -50%) scale(1.1); }
  .play-button:active {
    -webkit-transform: translate(50%, -50%) scale(1);
    -ms-transform: translate(50%, -50%) scale(1);
    transform: translate(50%, -50%) scale(1); }
    .play-button:active + h5 {
      -webkit-transform: translate(50%, -50%) scale(1);
      -ms-transform: translate(50%, -50%) scale(1);
      transform: translate(50%, -50%) scale(1); }

@-webkit-keyframes glow1 {
  0% { }
  50% {
    text-shadow: 2px 1px 80px #0077ff; }
  100% { } }

@keyframes glow1 {
  0% { }
  50% {
    text-shadow: 2px 1px 80px #0077ff; }
  100% { } }

.game-screen {
  border: 1px solid #000;
  background: url(../assets/space.jpg);
  background-size: cover;
  height: 500px;
  width: 100%;
  max-width: 500px;
  position: relative;
  overflow: hidden;
  border: 1px solid #0084ff; }

.score {
  color: rgba(255, 255, 255, 0.322);
  position: absolute;
  bottom: 0;
  z-index: 10; }

.lives {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: red;
  z-index: 10; }
  .lives i {
    font-size: 20px; }

.mobile-controls {
  width: 100%;
  color: rgba(255, 255, 255, 0.452);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  visibility: hidden; }

@media (max-width: 600px) {
  .mobile-controls {
    visibility: visible; } }

.left-key, .right-key {
  width: 50px;
  height: 50px;
  border: 1px solid #0084ff;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.shoot-key {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border: 1px solid #0084ff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.player-model {
  position: absolute;
  text-align: center; }
  .player-model i {
    position: relative;
    top: 10px;
    left: -12px;
    color: white;
    font-size: 30px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.player-coords {
  position: absolute;
  top: 0;
  left: 0;
  color: white; }

.projectile {
  position: absolute;
  top: 0;
  left: 50px;
  text-align: center;
  z-index: 10;
  font-size: 15px;
  text-shadow: 1px 1px 5px cyan; }

.enemy {
  position: absolute;
  -webkit-transition: color 0.1s, -webkit-transform 0.1s;
  transition: color 0.1s, -webkit-transform 0.1s;
  -o-transition: color 0.1s, transform 0.1s;
  transition: color 0.1s, transform 0.1s;
  transition: color 0.1s, transform 0.1s, -webkit-transform 0.1s; }

.welcome-enemy {
  color: white;
  background-color: gray;
  text-align: center; }

.nav-enemy {
  color: white; }

.gallery-enemy {
  position: relative; }
  .gallery-enemy figcaption {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-top: 30%;
    background-color: rgba(0, 0, 0, 0.767);
    display: none; }

.button-enemy {
  border: 1px solid #2a2a2a;
  border-radius: 40px;
  background-color: gray;
  color: white;
  padding: 5px 40px 2px 40px;
  letter-spacing: 2px;
  overflow: hidden;
  position: relative; }
  .button-enemy .button-text {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .button-enemy .icon {
    position: absolute;
    top: 50%;
    right: -27px;
    bottom: auto;
    left: auto;
    -webkit-transform: translateY(calc(-50% + 1px));
    -ms-transform: translateY(calc(-50% + 1px));
    transform: translateY(calc(-50% + 1px));
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.airplane-enemy {
  font-size: 30px;
  color: white;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.camera-enemy {
  font-size: 60px;
  color: darkslategray; }

.hit-animation-welcome {
  color: purple;
  text-decoration: underline; }

.hit-animation-nav {
  color: #0077ff;
  text-decoration: underline; }

.hit-animation-gallery figcaption {
  display: block; }

.hit-animation-button {
  background-color: white;
  color: #2a2a2a; }
  .hit-animation-button .button-text {
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px); }
  .hit-animation-button .icon {
    right: 20px;
    font-size: 2rem; }

.hit-animation-plane {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #0077ff; }

.game-over {
  height: 500px;
  width: 100%;
  max-width: 500px;
  background: rgba(0, 119, 255, 0.363);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden; }
